<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class = 'navbar navbar-expand-lg navbar-light bg-light'>
        <div class = 'container-fluid'>
            <div class = 'navbar-header'>
                <a class = 'navbar-brand' href = '#'>現正播出 {{tv.name}}</a>
            </div>
            <div class = 'collapse navbar-collapse'>
                <ul class = 'navbar-nav mr-auto'>
                    <li class = 'active nav-item'><a class="nav-link" href = '/'>Home</a></li>
                    <li class="nav-item"><a class="nav-link" href = '{% url 'tv-url' 0 %}'>東森</a></li>
                    <li class="nav-item"><a class="nav-link" href = '{% url 'tv-url' 1 %}'>民視</a></li>
                    <li class="nav-item"><a class="nav-link" href = '{% url 'tv-url' 2 %}'>華視</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class = 'container'>
        <div id = 'tvcode' align='center'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{tv.tvcode}}?autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class = 'panel panel-default'>
        <div class = 'panel-footer'><em>{{now}}</em></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>